// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

.navbar {
  font-weight: 100;
}

.cart-block--summary {
  margin-right: 15px;
  a {
    color: $navbar-default-link-color;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      .cart-block--summary__count {
        border-bottom: 1px solid rgba(white, 80);
        padding-bottom: 2px;
      }
    }
  }
}

.cart-block--link__expand {
  padding-top:    10px;
  padding-bottom: 10px;
}
@media (min-width: $grid-float-breakpoint) {
  .cart-block--link__expand {
    padding-top:    15px;
    padding-bottom: 15px;
  }
}

.region-header {
  background-color: $violet-medium;
  margin-bottom: 20px;
  padding: 20px 0;
}

.logo img {
  width: 100%;
  height: auto;
}
